<!DOCTYPE html>
{% extends "blog_app/base.html" %}
{% block head %}
<title>Drafts</title>
{% endblock %}

{% block body %}
    {% for post in post_list %}
        {% if not post.published_date %}
            <div class="post">
                <p class="date">Created: {{ post.create_date|date: 'd-m-y' }}</p>
                <h1><a href="{% url 'blog_app:post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                <p>{{ post.text|truncatechars:200 }}</p>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
